:root{
    --color-dashboard: #413A1C;
    --color-title-dashboard: #FFFFFF;
    --color-background: #DDD3BF;
    --color-title: #D54636;
    --color-button: #478AD9;
    --color-text: #1E3135;
}

.container-fluid{
    height: 100%;
    padding: 0;
    overflow: hidden;
    margin: 0;
    box-sizing: border-box;
}

.col{
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    box-sizing: border-box;
}

.col_2{
    overflow: hidden;
    padding: 0;
    box-sizing: border-box;
}

.form-check-label{
    color:var(--color-dashboard);
    font-family: 'Times New Roman', Times, serif;
}

.btn{
    color:var(--color-button);
    width: 100px;

}

.login{
    color: var(--color-text);
}